*{
   padding: 0;
   margin: 0;
   font-size: 12px;
}
.keyboardBodyMac{
   position: relative;
   background-color: #d2d0d0;
   width: 655px;
   height: 230px;
   border-radius: 5px;
   font-family: helvetica;
}

.keyboardBodyWin{
   position: relative;
   background-color: #868686;
   width: 655px;
   top: 5px;
   height: 230px;
   font-family: Roboto;
   font-weight: 300;
}

.firstRow {
  position: absolute;
  display: flex;
  flex-direction: row;
  top: 5px;
}

.secondRow {
  position: absolute;
  display: flex;
  flex-direction: row;
  top: 50px;
}

.thirdRow {
  position: absolute;
  top: 95px;
  display: flex;
  flex-direction: row;
}

.fourthRow {
  position: absolute;
  top: 140px;
  display: flex;
  width: 680px;
  flex-direction: row;
}

.fifthRow {
  position: absolute;
  top: 185px;
  display: flex;
  flex-direction: row;
}

.WinFirstRow {
  position: absolute;
  display: flex;
  flex-direction: row;
  top: 3px;
}

.WinSecondRow {
  position: absolute;
  display: flex;
  flex-direction: row;
  top: 46px;
}

.WinThirdRow {
  position: absolute;
  top: 89px;
  display: flex;
  flex-direction: row;
}

.WinFourthRow {
  position: absolute;
  top: 132px;
  display: flex;
  width: 680px;
  flex-direction: row;
}

.WinFifthRow {
  position: absolute;
  top: 175px;
  display: flex;
  flex-direction: row;
}
.standardKey{
   background-color: #fff;
   height: 40px;
   width: 40px;
   top: 5px;
   margin-left: 5px;
   border-radius: 5px;
}
.WinStandardKey{
   background-color: #1a1919;
   height: 40px;
   width: 40px;
   top: 3px;
   margin-left: 3px;
}
.up{
   position: relative;
   display: block;
   text-align: center;
   margin-top: 5px;
}
.down{
   position: relative;
   display: block;
   text-align: center;
   margin-top: 5px;
   flex-direction: row;
}
.Winup{
   position: relative;
   display: block;
   text-align: center;
   margin-top: 5px;
   color: #faf6f6;
}
.Windown{
   position: relative;
   display: block;
   text-align: center;
   margin-top: 5px;
   color: #faf6f6;
}
.letter {
  position: relative;
  display: block;
  text-align: center;
  line-height: 40px;
}
.Winletter{
   position: relative;
   display: block;
   text-align: center;
   line-height: 40px;
   color: #faf6f6;
}

.leftSpecial {
  display: block;
  text-align: left;
  margin-top: 27px;
  margin-left: 5px;
  font-size: 80%;
}
.leftSpecialUp {
   display: block;
   text-align: left;
   margin-top: 4px;
   margin-left: 5px;
   font-size: 70%;
}
.leftSpecialDown {
   display: block;
   text-align: left;
   margin-top: 14px;
   margin-left: 5px;
   font-size: 80%;
}
.rightSpecial{
   display: block;
   text-align: right;
   margin-right: 5px;
   margin-top: 27px;
   font-size: 80%;
}

.rightSpecialDown{
  display: block;
  text-align: right;
  margin-right: 5px;
  margin-top: 14px;
  font-size: 80%;
}

.rightSpecialUp{
  display: block;
  text-align: right;
  margin-right: 5px;
  margin-top: 4px;
  font-size: 70%;
}
.WinSpecial{
   display: block;
   text-align: center;
   line-height: 40px;
   font-size: 75%;
   font-weight: 400;
   color: #faf6f6;
}
.WinSpecialLeft{
   display: block;
   text-align: left;
   line-height: 40px;
   font-size: 75%;
   margin-left: 7px;
   font-weight: 400;
   color: #faf6f6;
}
.WinArrows{
   display: block;
   text-align: center;
   line-height: 19px;
   color: #faf6f6;
}
.arrows{
   display: block;
   text-align: center;
   line-height: 19px;
}

.lowerRowArrows {
  top: 20px;
  position: absolute;
  display: flex;
}

.upperRowArrows {
  position: absolute;
  left: 560px;
}
.WinUpperRowArrows {
  position: absolute;
  left: 546px;
}

#k039{
   width: 60px;
}

#k040 {
  width: 60px;
}

#k082 {
  width: 70px;
}

#k094 {
  width: 75px
}

#k121 {
   width: 95px;
}
#k132 {
   width: 95px;
}
#k132w{
   width: 100px;
}
#k161 {
   width: 200px;
}
#k157w{
   width: 85px;
}
#k160w{
   width: 55px;
}
#k159w{
   width: 50px;
}
#k160 {
   width: 60px;
}
#k162{
   width: 60px;
}
#k162w {
   width: 55px;
}
#k164{
   height: 19px;

}
#k165{
   height: 19px;
}
#k166{
   height: 19px;
}
#k167{
   height: 19px;
}
